/*
Bootstrap media queries breakpoints
https://getbootstrap.com/docs/4.1/layout/overview/
*/
body {
    font-family: 'SansSerif', sans-serif;
    color: #020710;
    margin: 0;
}

#wrapper {
    padding: 0 16px;
}

nav {
    height: 60px;
    border-bottom: 1px solid #f5f5ff;
}

#app-logo img {
    margin: 15px 0;
    height: 30px;
}

#hamburger-toggle {
    /* url link relative to the stylesheet */
    background: url(../img/hamburger-open.svg) center no-repeat;
    float: right;
    padding: 20px 20px;
    height: 20px;
    background-size: 40px;

    transition: all .3s ease-in-out;
}

#hamburger-toggle.close {
    background-image: url(../img/hamburger-close.svg);
    background-size: 30px;
}

#nav-links {
    display: none;
}

#nav-links a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-align: center;

    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
}

#nav-links a:hover {
    color: #3F43FD;
}

#nav-links a:last-of-type {
    background: #3f43fd;
    border-radius: 5px;
    color: white;
}

h1 {
    margin-top: 40px;
    /*28 -> 48*/
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
}

h3 {
    margin-top: 34px;
    font-size: 16px;
    font-weight: 400;
}

a.btn-blue, a.btn-white {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 2px;
}

a.btn-blue {
    color: white;
}

a.btn-white {
    color: #3F43FD;
    font-weight: 500;
}

.btn-blue {
    background: #3F43FD;
    padding: 10px 25px;
    border-radius: 5px;
}

.btn-white {
    border: 2px solid #3F43FD;
    padding: 8px 25px;
    border-radius: 5px;
}

section:nth-of-type(2) {
    margin-top: 60px;
}

.txt-blue {
    color: #3F43FD;
}

.txt-red {
    color: #f4284a;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #wrapper {
        padding: 0 120px;
    }

    nav {
        height: 90px;
    }

    #app-logo img {
        margin: 30px 0;
        height: 30px;
    }

    #hamburger-toggle {
        display: none;
        float: left;
    }

    #nav-links {
        display: inline-block;
        position: absolute;
        line-height: 90px;
        right: 120px;
    }

    #nav-links a {
        display: inline;
        margin-right: 30px;
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        #nav-links a {
            margin-right: 43px;
        }
    }

    #nav-links a:last-of-type {
        margin-right: 0;
        padding: 12px 28px;
    }

    section:first-of-type {
        width: 48%;
    }

    h1 {
        margin-top: 90px;
        font-size: 48px;
        line-height: 60px;
        font-weight: 600;
        margin-bottom: 0;
    }

    h3 {
        font-size: 20px;
        margin-top: 30px;
    }

}

/* Overrides for mobile only */
@media (max-width: 991px) {
    #presentation a.btn-blue {
        margin-top: 30px;
    }
    #presentation a.btn-white {
        margin-top: 20px;
    }
}
