* {
    font-family: SansSerif, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px; /* override browser default is 16px */
}

header nav {
    background: #28170F;
}

#app-logo img {
    width: 0;
    transition: width 0.25s cubic-bezier(.07, 1.05, .51, .77);
}

#navbar {
    height: 74px;
    transition: height 0.25s ease-in;
    display: flex;
    justify-content: space-between; /* logo left, rest on the right */
    padding-left: 74px; /* See: #nav-links margin-right */
    align-items: center; /* align horizontally */
}

#navbar.scrolled {
    height: 54px;
}

#navbar.scrolled #app-logo img {
    width: 190px;
}

a.active {
    color: #e3b407;
}

#nav-links {
    margin-right: 120px; /* See: #navbar padding-left */
}

#nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 13px;
}

#nav-links a.active, #nav-links a:hover {
    /* Must override here */
    color: #e3b407;
}

#nav-links a:hover {
    border-bottom: 2px solid #e3b407;
    padding-bottom: 3px;
}

header #navbar {
    position: fixed;
    width: 100%;
}

#front {
    height: 96vh;
    background: rgba(25, 0, 0, 0.3) url("../img/front.jpg") no-repeat;
    background-blend-mode: multiply; /* overlay, see rgba above */
    background-size: cover;
    background-position-y: 24%;
    position: relative; /* for #waves-pattern */
}

#front .content {
    color: white;
    position: absolute;
    top: 45vh;
    left: 110px;
    z-index: 999;
}

#front p {
    color: #e5e5e5;
}

h1 {
    font-size: 3rem;
}

.separator {
    /*border-bottom: 3px solid #2C2C2C;*/
    height: 4px;
    margin: 22px 0 22px 0;
    width: 80px;
    background: #2C2C2C;
}

.bt-social-icons {
    margin-top: 3rem;
}

.bt-social-icons i {
    background: #e3b407;
    font-size: 1rem;
    border-radius: 100%;
    padding: .8rem .7rem;
    margin-right: 15px;
}

#front svg {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
}

#front svg path {
    fill: white;
}

#bogus {
    height: 300px;
}
