/*
Grid cheat sheet:
    https://grid.malven.co/

 */

:root {
    --border-margin: 10vw;
}

* {
    font-family: SansSerif, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px; /* override browser default is 16px */
}

header nav {
    background: #28170F;
}

#app-logo img {
    width: 0;
    transition: width 0.25s cubic-bezier(.07, 1.05, .51, .77);
}

#navbar {
    height: 74px;
    transition: height 0.25s ease-in;
    display: flex;
    justify-content: space-between; /* logo left, rest on the right */
    padding-left: 74px; /* See: #nav-links margin-right */
    align-items: center; /* align horizontally */
    z-index: 1; /* Waves pattern made this a requirement. */
}

#navbar.scrolled {
    height: 54px;
}

#navbar.scrolled #app-logo img {
    width: 190px;
}

a.active {
    color: #e3b407;
}

#nav-links {
    margin-right: 120px; /* See: #navbar padding-left */
}

#nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 13px;
}

#nav-links a.active, #nav-links a:hover {
    /* Must override here */
    color: #e3b407;
}

#nav-links a:hover {
    border-bottom: 2px solid #e3b407;
    padding-bottom: 3px;
}

header #navbar {
    position: fixed;
    width: 100%;
}

#front {
    height: 112vh;
    background: rgba(25, 0, 0, 0.3) url("../img/front.jpg") no-repeat;
    background-blend-mode: multiply; /* overlay, see rgba above */
    background-size: cover;
    background-position-y: 24%;
    position: relative; /* for #waves-pattern */
}

#front .content {
    color: white;
    position: absolute;
    top: 45vh;
    margin-left: var(--border-margin);
}

#front p {
    color: #e5e5e5;
}

h1 {
    font-size: 3rem;
}

.separator {
    height: 4px;
    margin: 45px 0 45px 0;
    width: 80px;
    background: #2C2C2C;
}

#front .separator {
    margin: 22px 0 22px 0;
}

.bt-social-icons {
    margin-top: 3rem;
}

.bt-social-icons i {
    background: #e3b407;
    font-size: 1rem;
    border-radius: 100%;
    padding: .8rem .7rem;
    margin-right: 15px;
}

#front svg {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
}

#front svg path {
    fill: white;
    /*stroke: green;*/
}

/*
Override:
    Waves pattern has bottom border applied and linked to its stroke

    Is this a chrome bug?? The unwanted border disappears if I open the dev tools.
    */
#hide-bottom-svg-border {
    position: relative;
    height: 1px;
    background-color: white;
    top: -1px;
}

section:not(:first-of-type) {
    /*margin-left: var(--border-margin);*/
    /*margin-right: var(--border-margin);*/
    margin-top: 100px;
    margin-bottom: 100px;
}

section h2 {
    color: #7a7a7a;
    font-size: 35px;
    /*margin-bottom: 40px;*/
}

/*https://blog.theodo.com/2018/03/stop-using-bootstrap-layout-thanks-to-css-grid/*/
section p:first-of-type {
    color: rgb(146, 146, 146);
    padding-top: 0;
    line-height: 25px;
    /*display: grid;*/
    /*grid-template-columns: repeat(12, 1fr);*/
}

section .left, section .right {
    /*grid-column: span 6;*/
}

section:nth-of-type(2) {
    /*border: 1px solid orange;*/
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-column-gap: 60px;
    margin: 100px 120px;
}

section:nth-of-type(2) .right {
    /*border: 1px solid green;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

section:nth-of-type(2) .right img {
    /*max-width: 100%; !* prevents the image overflowing the grid container *!*/
    width: 100%;
}

section:nth-of-type(3) {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    margin: 150px 10px;
}

section:nth-of-type(3) img {
    width: 100%;
}

#place-order {
    /*border: 1px solid red;*/
    height: 800px;
    background-image: url(../img/narrow-street.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* parallax */
}

#place-order svg {
    fill: white;
}

#place-order .images {
    /*border: 1px solid red;*/
    margin: 30px 120px;

    display: flex;
    min-height: 300px;
    flex-wrap: wrap;
}

#place-order .img-container {
    box-sizing: border-box;

    --margin: 16px;
    width: calc(100% / 3 - 2 * var(--margin));
    margin: var(--margin);

    /* Align search icon */
    display: flex;
    align-items: center;
    justify-content: center;
}

#place-order .img-container .fa-search {
    position: absolute;
    color: #e3b407;

    font-size: 1.3rem;
}

#place-order .images img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Needs height + width @100% to trigger properly */

    border: 3px double #e3b407;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #place-order .img-container {
        width: calc(100% / 2 - 2 * var(--margin));
    }
}

@media screen and (max-width: 480px) {
    #place-order .img-container {
        width: calc(100% / 1);
        margin-left: 0;
        margin-right: 0;
    }
}


/*!* 768px, 480px *!*/
/*@media screen and (max-width: 768px) {*/
/*    !*section .right {grid-row: 1;} // Tha's how I would inverse row order *!*/
/*    section .left, section .right {*/
/*        border: 3px solid green;*/
/*        grid-column: span 12;*/
/*    }*/
/*}*/

#bogus {
    height: 300px;
}
